/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

.zbozi {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 710px;
  height: 440px;
  margin-left: 80px;
  margin-right: 40px;
  padding: 20px;
}

.vizual {
  background: linear-gradient(#06d7c1, #50cc49);
  height: 440px;
  float: left;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bota {
  float: right;
  position: relative;
}

.slogan {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
}

.cena {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.zaruka {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.logo {
  padding: 30px;
}

div .cenovka {
  position: absolute; left: 270px; top: 64%; 
  float: right;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 30px;
}

.detaily {
  background-color: #f5f5f5;
  height: 440px;
  padding-left: 30px;
  padding-bottom: 30px;
  float: right;
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nazev {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 30px;
  margin: 0;
}

.produkt {
  color: #959595;
}

.popis {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #06d7c1;
  margin-bottom: 0;
}

.parametr {
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 0;
}

.velikosti li {
  display: block;
  float: left;
  text-align: center;
  width: 15%;
  padding: 10px;
}

ul.velikosti {
padding: 0;
}

.vybrana {
  color: #f15f42;
  border: 1px solid #f15f42;
  border-radius: 60%;
}

a.tlacitko {
  background-color: #f15f42;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  float: left;
  margin: 40px 0px 15px 0px;
}
